PORT=4000
OPENROUTER_API_KEY=KENDI_API_KEYIN
OPENROUTER_BASE_URL=https://openrouter.ai/api/v1
OPENROUTER_SITE_URL=http://localhost:3000
OPENROUTER_APP_NAME=KENDI_APP_NAMEIN
OTEL_EXPORTER_OTLP_ENDPOINT=http://localhost:4318/v1/traces
